{% extends 'myapp/base.html' %}


       {% block content %} 

        <!-- Page Content -->
    <div class="container">

<!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Sentiment Analysis</h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="active">Sentiment Analysis</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        
        <!-- Jumbotron search-1 -->
       <!--  <header class="jumbotron">
            <div class="row">
                    
            <h3>Search a News for Sentiments</h3>
           
            <div class="col-lg-6">
            <form method="POST" class="post-form"  >{% csrf_token %}
            {{ form.as_p }}
           
            
            <input type="submit" name="search" class="btn btn-primary btn-large" value="Search">
            
            </form>
            </div>
            
            
            </div>
        </header> -->
        <!-- end of search-1-->
        
         <!-- Jumbotron search-2 -->
         <header class="jumbotron">
            <div class="row">
                    
            <h3>Test Your Text Here</h3>
           
            <div class="col-lg-6">
            <form method="POST" class="post-form"> {% csrf_token %}
            {{ form.as_p }}
            <!-- <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name." style="margin-bottom:30px;"> -->
            
            <input type="submit" name="search" class="btn btn-primary btn-large" value="Search">
            <!-- <a class="btn btn-primary btn-large">Test Here</a> -->
            
            </form>
            </div>
            
            
            </div>
        </header>
        <!-- end of search-2-->
        
       

        <hr>
{% endblock %}